/* Primary color:
#044A53 Teal blue

Secondary colors(logo and icons):
#1497AB logo blue
#D9F9FD foam blue

background colors:
#FFFFFF white
#F7F7F7 Alabaster1
#FAFAFA Alabaster2
#01B5CD Cerulean

Text colors:
#044A53 Teal blue
#FFFFFF white
#918383 Hurricane
#323232 Mine shaft
#0070EB blue ribbon
#78070D Sativa burgundy
#1000CE Indica blue
#FAFF00 Hybrid yellow */
.mobile-center {
  flex-direction: column;
  align-items: center;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 62.5%;
  font: inherit;
  vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
  max-width: 100%;
}
.container1 {
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto!important;
  margin-top: 3%!important;
}
.container {
  width: 90%;
  margin: 0 auto;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
nav {
  color: white;
  background-color: #0e0e23;
  display: flex;
  justify-content: space-around;
  padding-top: 1%;
  padding-bottom: 1%;
  box-shadow: 0px 4px 10px black;
  font-family: 'nanum gothic';
}
nav a {
  border-right: white solid 1px;
  border-left: white 1px solid;
  color: white;
  font-size: 20px;
  padding-left: 7%;
  padding-right: 7%;
  text-decoration: none;
}
nav .WebsiteName {
  font-size: 30px;
}
nav .nav-links {
  margin-left: -5%;
  display: flex;
  align-items: center;
  width: 40%;
  justify-content: space-around;
}
nav .nav2 {
  width: 20%;
  margin-top: 1.2%;
  margin-right: -6%;
}
nav .nav2 a {
  background: white;
  border-radius: 5px;
  position: relative!important;
  bottom: -25% !important;
  padding-bottom: 3%;
  padding-top: 3%;
  border: white solid 2px;
  color: black;
}
header nav .WebsiteName {
  display: flex;
  align-items: center;
  width: 20%;
  justify-content: space-around;
}
header nav img {
  width: 40%;
  border-radius: 90%;
  border: solid white 2px;
  margin-right: 10%;
  margin-left: -18%;
}
@media (max-width: 600px) {
  .img1,
  h1,
  .nav2 {
    display: none;
  }
  nav {
    padding-top: 5%;
    padding-bottom: 5%;
  }
  .nav-links {
    position: relative;
    right: 20%;
  }
}
footer {
  background-color: #0e0e23;
  width: 96%;
  display: flex;
  text-align: center;
  color: white;
  padding: 2%;
  justify-content: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
@media (max-width: 500px) {
  .container header nav {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
}
.container header nav .WebsiteName {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 20%;
}
@media (max-width: 800px) {
  .container header nav .WebsiteName {
    width: 20%;
  }
}
@media (max-width: 800px) {
  .container header nav .WebsiteName h1 {
    font-size: 1.2rem;
  }
}
.container header nav .WebsiteName img {
  width: 40%;
  border-radius: 90%;
  border: solid white 2px;
  margin-right: 10%;
  margin-left: -18%;
}
@media (max-width: 500px) {
  .container header nav .WebsiteName img {
    width: 100%;
  }
}
@media (max-width: 500px) {
  .container header nav .nav-links {
    margin-left: 45%;
    margin-top: 10%;
  }
}
@media (max-width: 800px) {
  .container header nav .nav-links {
    width: 35%;
  }
}
@media (max-width: 800px) {
  .container header nav .nav-links a {
    border: none;
  }
}
@media (max-width: 800px) {
  .container header nav .nav2 {
    width: 30%;
  }
}
@media (max-width: 500px) {
  .container header nav .nav2 {
    width: 10%;
  }
}
.container header nav .nav2 a:hover {
  background: black;
  color: white;
}
.container .top-mpContent {
  display: flex;
  background: lightslategray;
}
@media (max-width: 500px) {
  .container .top-mpContent {
    flex-direction: column;
    align-items: center;
  }
}
@media (max-width: 800px) {
  .container .top-mpContent {
    padding-top: 8%;
    padding-bottom: 9%;
  }
}
.container .top-mpContent .left-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
@media (max-width: 500px) {
  .container .top-mpContent .left-side {
    width: 80%;
  }
}
.container .top-mpContent .left-side img {
  width: 80%;
}
.container .top-mpContent .left-side h1 {
  margin: 4% 3%;
  font-size: 2rem;
  text-align: center;
  border-radius: 12px;
  border: 3px solid #01B5CD;
  width: 45%;
  padding: 1%;
  background: black;
  color: white;
}
@media (max-width: 800px) {
  .container .top-mpContent .left-side {
    justify-content: space-around;
  }
}
.container .top-mpContent .right-side {
  width: 50%;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-around;
}
@media (max-width: 500px) {
  .container .top-mpContent .right-side {
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-top: 2%;
  }
}
.container .top-mpContent .right-side .box {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.container .top-mpContent .right-side .box img {
  width: 50%;
}
.container .top-mpContent .right-side .box p {
  margin: 2% 3%;
  line-height: 1.2rem;
}
.container .top-mpContent .right-side .box h1 {
  border: 2px solid deepskyblue;
  border-radius: 5%;
  text-align: center;
  padding: 4%;
  width: 40%;
  background: black;
  color: white;
  font-size: 1.5rem;
}
.container .top-mpContent .right-side .right-bot {
  width: 70%;
}
@media (max-width: 800px) {
  .container .top-mpContent .right-side .right-bot {
    width: 80%;
  }
}
.container .top-mpContent .right-side .right-bot button {
  padding: 4%;
  background: cyan;
  border-radius: 24px;
  border: 2px solid black;
  font-size: 1.4rem;
}
@media (max-width: 800px) {
  .container .top-mpContent .right-side .right-bot button {
    padding: 2%;
    margin-bottom: 3%;
    font-size: 1rem;
    background: darkcyan;
  }
}
.container .top-mpContent .right-side .right-bot button a {
  text-decoration: none;
  color: white;
}
.container .top-mpContent .right-side .right-bot button:hover {
  background: black;
  border: 2px solid cyan;
}
.container .top-mpContent .right-side .store-pic {
  border-radius: 50%;
}
.container .top-mpContent .right-side .top-two {
  margin-top: 11%;
}
@media (max-width: 800px) {
  .container .top-mpContent .right-side .top-two {
    margin-top: 0%;
    width: 50%;
    margin-bottom: 3%;
  }
}
.container footer {
  text-align: center;
  color: white;
  padding: 2%;
  background: #0e0e23;
  font-size: 1.5rem;
}
body .container2 {
  width: 90%;
  box-sizing: border-box;
  margin: 0 auto!important;
  margin-top: 3%!important;
  background-image: url("../img/white-surface-1774986.jpg");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}
nav {
  margin-bottom: 5%;
}
#main-aboutus-content {
  display: flex;
  flex-wrap: wrap;
}
#main-aboutus-content .backdrop {
  background: black;
  margin: 5%;
  padding-top: 2%;
  padding-bottom: 2%;
}
#main-aboutus-content .backdrop .heythere {
  color: white;
}
#main-aboutus-content .about-container {
  padding-bottom: 5%;
  margin-left: 2.9%;
  margin-right: 2.9%;
  display: flex;
  width: 100%;
  box-shadow: 0 2px 7px black;
  flex-wrap: wrap;
  background: lightgray;
}
#main-aboutus-content .about-container #manuel {
  width: 100%;
  border-radius: 100%;
  height: 64%;
}
#main-aboutus-content .aboutusheader {
  position: relative;
  padding-top: 2%;
  background-image: url("../img/black-and-white-diamond-shape-wallpaper-1070345.jpg");
  width: 95%;
  padding-bottom: 2%;
  text-align: center;
  font-size: 40px;
  font-family: monospace;
  box-shadow: 0 2px 7px black;
  right: -2.5%;
}
#main-aboutus-content .Manuel {
  margin-top: 2%;
  border-bottom: 1px dashed black;
  padding: 4%;
  width: 20%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
#main-aboutus-content .Manuel h2 {
  font-family: 'nanum gothic';
  color: white;
  font-size: 25px;
  line-height: 150%;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
.juan {
  margin-top: 2%;
  border-bottom: 1px dashed black;
  padding: 4%;
  width: 20%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.juan #juan {
  width: 100%;
  border-radius: 100%;
  height: 64%;
}
.juan h2 {
  font-family: 'nanum gothic';
  color: white;
  font-size: 25px;
  line-height: 150%;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
.rudy {
  margin-top: 2%;
  border-bottom: 1px dashed black;
  padding: 4%;
  width: 20%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.rudy #rudy {
  width: 100%;
  border-radius: 100%;
  height: 64%;
}
.rudy h2 {
  font-family: 'nanum gothic';
  color: white;
  font-size: 25px;
  line-height: 150%;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
.matthew {
  margin-top: 2%;
  border-bottom: 1px dashed black;
  padding: 4%;
  width: 20%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.matthew #matthew {
  width: 100%;
  border-radius: 100%;
  height: 64%;
}
.matthew h2 {
  font-family: 'nanum gothic';
  color: white;
  font-size: 25px;
  line-height: 150%;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
.gavin {
  margin-top: 2%;
  border-bottom: 1px dashed black;
  padding: 4%;
  width: 20%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.gavin #gavin {
  width: 100%;
  border-radius: 100%;
  height: 64%;
}
.gavin h2 {
  font-family: 'nanum gothic';
  color: white;
  font-size: 25px;
  line-height: 150%;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
.erik {
  margin-top: 2%;
  border-bottom: 1px dashed black;
  padding: 4%;
  width: 20%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.erik #erik {
  width: 100%;
  border-radius: 100%;
  height: 64%;
}
.erik h2 {
  font-family: 'nanum gothic';
  color: white;
  font-size: 25px;
  line-height: 150%;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
.androik {
  margin-top: 2%;
  border-bottom: 1px dashed black;
  padding: 4%;
  width: 20%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.androik #androik {
  width: 100%;
  border-radius: 100%;
  height: 64%;
}
.androik h2 {
  font-family: 'nanum gothic';
  color: white;
  font-size: 25px;
  line-height: 150%;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
.john {
  margin-top: 2%;
  border-bottom: 1px dashed black;
  padding: 4%;
  width: 20%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.john #john {
  width: 100%;
  border-radius: 100%;
  height: 64%;
}
.john h2 {
  font-family: 'nanum gothic';
  color: white;
  font-size: 25px;
  line-height: 150%;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
.mathias {
  margin-top: 2%;
  border-bottom: 1px dashed black;
  padding: 4%;
  width: 20%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.mathias #mathias {
  width: 100%;
  border-radius: 100%;
  height: 64%;
}
.mathias h2 {
  font-family: 'nanum gothic';
  color: white;
  font-size: 25px;
  line-height: 150%;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
@media (max-width: 600px) {
  .Manuel {
    width: 100%!important;
  }
  .juan {
    width: 100%!important;
  }
  .rudy {
    width: 100%!important;
  }
  .matthew {
    width: 100%!important;
  }
  .gavin {
    width: 100%!important;
  }
  .erik {
    width: 100%!important;
  }
  .androik {
    width: 100%!important;
  }
  .john {
    width: 100%!important;
  }
  .mathias {
    width: 100%!important;
  }
  .rudy {
    width: 100%!important;
  }
  .rudy {
    width: 100%!important;
  }
}
.container .main-page {
  display: flex;
  background: lightslategrey;
  justify-content: space-around;
  padding: 3% 0;
}
@media (max-width: 500px) {
  .container .main-page {
    flex-direction: column;
    align-items: center;
  }
}
.container .main-page .left-con-side {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 45%;
}
@media (max-width: 500px) {
  .container .main-page .left-con-side {
    width: 80%;
    margin: 4% 0;
  }
}
.container .main-page .left-con-side img {
  width: 80%;
}
.container .main-page .left-con-side h1 {
  margin: 4% 3%;
  font-size: 2rem;
  text-align: center;
  border-radius: 12px;
  border: 3px solid #01B5CD;
  width: 45%;
  padding: 1%;
  background: black;
  color: white;
}
.container .main-page .contact-side {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
@media (max-width: 500px) {
  .container .main-page .contact-side {
    width: 75%;
  }
}
.container .main-page .contact-side img {
  width: 45%;
}
@media (max-width: 500px) {
  .container .main-page .contact-side img {
    width: 80%;
    margin-top: 5%;
  }
}
.container .main-page .contact-side p {
  margin: 8% 0;
  line-height: 1.2rem;
  font-size: 1.2rem;
  color: white;
}
@media (max-width: 500px) {
  .container .main-page .contact-side p {
    width: 85%;
  }
}
.container .main-page .contact-text button {
  padding: 4%;
  background: black;
  border-radius: 12px;
  border: 2px solid limegreen;
  font-size: 1rem;
  color: white;
  margin-top: 10%;
}
.container .main-page .contact-text button:hover {
  background: limegreen;
  color: black;
  border: 1px solid white;
}
.faq-container {
  margin-left: 2.9%;
  margin-right: 2.9%;
  display: flex;
  width: 100%;
  box-shadow: 0 2px 7px black;
  flex-wrap: wrap;
  background: lightgray;
}
.Manuel1 {
  background: #8080806e;
  border-radius: 9%;
  box-shadow: 0 2px 27px grey;
  margin-top: 2%;
  border-bottom: 1px dashed black;
  padding: 4%;
  width: 20%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.Manuel1 h2 {
  font-family: 'nanum gothic';
  color: white;
  font-size: 25px;
  line-height: 150%;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
.juan1 {
  background: #8080806e;
  border-radius: 9%;
  box-shadow: 0 2px 27px grey;
  margin-top: 2%;
  border-bottom: 1px dashed black;
  padding: 4%;
  width: 20%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.juan1 h2 {
  font-family: 'nanum gothic';
  color: white;
  font-size: 25px;
  line-height: 150%;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
.rudy1 {
  background: #8080806e;
  border-radius: 9%;
  box-shadow: 0 2px 27px grey;
  margin-top: 2%;
  border-bottom: 1px dashed black;
  padding: 4%;
  width: 20%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.rudy1 h2 {
  font-family: 'nanum gothic';
  color: white;
  font-size: 25px;
  line-height: 150%;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
.matthew1 {
  background: #8080806e;
  border-radius: 9%;
  box-shadow: 0 2px 27px grey;
  margin-top: 2%;
  border-bottom: 1px dashed black;
  padding: 4%;
  width: 20%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.matthew1 h2 {
  font-family: 'nanum gothic';
  color: white;
  font-size: 25px;
  line-height: 150%;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
.gavin1 {
  background: #8080806e;
  border-radius: 9%;
  box-shadow: 0 2px 27px grey;
  margin-top: 2%;
  border-bottom: 1px dashed black;
  padding: 4%;
  width: 20%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.gavin1 h2 {
  font-family: 'nanum gothic';
  color: white;
  font-size: 25px;
  line-height: 150%;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
.erik1 {
  background: #8080806e;
  border-radius: 9%;
  box-shadow: 0 2px 27px grey;
  margin-top: 2%;
  border-bottom: 1px dashed black;
  padding: 4%;
  width: 20%;
  display: flex;
  flex-wrap: wrap-reverse;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.erik1 h2 {
  font-family: 'nanum gothic';
  color: white;
  font-size: 25px;
  line-height: 150%;
  margin-top: 5%;
  width: 100%;
  text-align: center;
}
