body {
    //background-color: #77889973;
    .container2 {  width: 90%; 
        box-sizing: border-box; 
        margin: 0 auto!important; 
        margin-top: 3%!important;
       background-image: url("../img/white-surface-1774986.jpg"); 
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    }
}
nav {
    margin-bottom: 5%;
}
#main-aboutus-content {
    display: flex;
    flex-wrap: wrap;
    .backdrop {
        background: black;
    margin: 5%;
    padding-top: 2%;
    padding-bottom: 2%;
        .heythere{
            color: white;
        }
    }
    .about-container {
        margin-left: 2.9%;
    margin-right: 2.9%;
    display: flex;
    width: 100%;
    box-shadow: 0 2px 7px black;
    flex-wrap: wrap;
    background: lightgray;
    #manuel {
        .circleimgs();
        
    }
    }
    .aboutusheader {
        position: relative;
        padding-top: 2%;
        background-image: url("../img/black-and-white-diamond-shape-wallpaper-1070345.jpg");
        width: 95%;
        padding-bottom: 2%;
        text-align: center;
        font-size: 40px;
        font-family: monospace;
        box-shadow: 0 2px 7px black;
        right: -2.5%;
      }


      .Manuel {
          .people();
        h2 {
            .names();
        }
      
    }
      
 }
 .juan {
            .people();
           
               
            #juan{
               .circleimgs();
               
            }
            h2{
                .names();
            }
      }



      .rudy {
        .people();
       
        //border-right: 1px dashed black;
           
        #rudy{
           .circleimgs();
           
        }
        h2{
            .names();
        }
  }

  .matthew {
    .people();
   
    //border-right: 1px dashed black;
       
    #matthew{
       .circleimgs();
       
    }
    h2{
        .names();
    }
}

.gavin {
    .people();
   
    //border-right: 1px dashed black;
       
    #gavin{
       .circleimgs();
       
    }
    h2{
        .names();
    }
}

.erik {
    .people();
   
    //border-right: 1px dashed black;
       
    #erik{
       .circleimgs();
       
    }
    h2{
        .names();
    }
}

.androik {
    .people();
   
    //border-right: 1px dashed black;
       
    #androik{
       .circleimgs();
       
    }
    h2{
        .names();
    }
}

.john {
    .people();
   
    //border-right: 1px dashed black;
       
    #john{
       .circleimgs();
       
    }
    h2{
        .names();
    }
}

.mathias {
    .people();
   
    //border-right: 1px dashed black;
       
    #mathias{
       .circleimgs();
       
    }
    h2{
        .names();
    }
}
