body{

    .container{
        background: lightslategrey; 


        header{

            nav{

                .WebsiteName{
                    display:flex; 
                    align-items:center;
                    width: 20%;
                    justify-content:space-around; 
                }// closes .WebsiteName

                img{
                    width:40%;
                    border-radius: 25%;
                }

            }// closes nav

        }// closes header

        section{
            margin: 3% 0; 
        }// closes section

        .top-mpContent{
            border: 1px solid red;

            h1{
                margin: 2% 3%; 
                font-size: 2rem; 
                text-align:center;
                border-radius: 12px; 
                border: 3px solid #01B5CD;
                width: 30%; 
                padding: 1%;
                background: black;
                color: white;
            }

            p{
                margin: 2% 3%; 
            }
        }










    }// this closes .container

}// this closes Body