nav {
    color: white;
    background-color: @headfoot;
    display: flex;
    justify-content: space-around;
    padding-top: 1%;
    padding-bottom: 1%;
    box-shadow: 0px 4px 10px black;
    font-family: 'nanum gothic';
    
    
    a {
        border-right: white solid 1px;
        border-left: white 1px solid;
        color: white;
        font-size: 20px;
        padding-left: 7%;
        padding-right: 7%;
        text-decoration: none;
    }
    .WebsiteName {
        font-size: 30px;
    }
    .nav-links {
        margin-left: -5%;
        display: flex;
        align-items: center;
        width: 40%;
        justify-content: space-around;
    }
    .nav2 {
        width: 20%;
    margin-top: 1.2%;
    margin-right: -6%;

        

        a { 
            background: white;
            border-radius: 5px;
            position: relative!important;
            bottom: -25% !important;
            padding-bottom: 3%;
            padding-top: 3%;
            border: white solid 2px;
            color: black;
        }
    }
    
}
header{

    nav{

        .WebsiteName{
            display:flex; 
            align-items:center;
            width: 20%;
            justify-content:space-around; 
        }// closes .WebsiteName

        img{
            width: 40%;
            border-radius: 90%;
            border: solid white 2px;
            margin-right: 10%;
            margin-left: -18%;
        
        }// closes img

    }// closes nav

}// closes header
@media @phone {
        .img1, h1, .nav2{
            display: none;
        }
        nav {
            padding-top: 5%;
    padding-bottom: 5%;
        }
        .nav-links {
            position: relative;
    right: 20%;
        }
    }